* {
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-size: 14px;
    transition: all 0.3s;
}

nav .active a,
nav a:hover{
    background-color: #39aae1;
    color: #FFF;
    transition: all 0.3s;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.colBanner {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #FFF;
    font-size: 60px;
    text-shadow: 0px 2px 10px #00000041;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline p {
    color: #FFF;
    font-size: 19px;
    text-shadow: 0px 2px 10px #00000062;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 20px;
    line-height: 26px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #FFF;
    padding: 20px;
}

.banner1 {
    background-color:#39aae1;
}

.banner2 {
    background-color:#0079c7;
}

.banner3 {
    background-color:#2b4c99;
}

.banner_title {
    font-size: 22px;
    margin-bottom: 20px;
}

.banner_desc {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 18px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #FFF;
    padding: 5px;
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s;
}

.banner1 a:hover{
    background-color: #FFF;
    color: #39aae1;
    transition: all 0.3s;
}

.banner2 a:hover{
    background-color: #FFF;
    color: #0079c7;
    transition: all 0.3s;
}

.hour_table {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc31;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.wt_text {
    font-size: 21px;
    color: #000;
    font-weight: bold;
}

.wt_bar {
    width: 50px;
    height: 3px;
    background-color:#36a9e1;
    margin-top: 10px;
}

.widget_desc {
    font-size: 13px;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    padding-bottom: 35px;
    border-bottom: 1px solid #cccccc9c;
}

.widget_table {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #cccccc9c;
    /* margin-bottom: 10px;
    padding-bottom: 10px; */
    font-size: 13px;
}

.widget_table a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #707070;
}

.widget_table a:hover {
    color: #1f08a3;
}

.widget_table p {
    margin-left: 3px;
}

.day {
    display: flex;
    align-items: center;
}

.day img {
    margin-right: 5px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_date {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color:#FFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_coments {
    background-color: #39aae1;
    color:#FFF;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
    transition: all 0.3s;
}

article .news_thumbnail img:hover{
    transform: scale(1.06);
}

article .news_title {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 25px;
    color: #000;
}

article .news_resume {
    /* width: 370px; */
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

aside a {
    text-decoration: none;
    color: #FFF;
}

aside .box_depto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    line-height: 140px;
}

.depto {
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 25px;
    background-color: #39aae1;
    transition: all 0.3s;
}

.depto:hover {
    transition: all 0.3s;
    transform: scale(1.06);
    background-color: #0079c7;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.fm_1,
.fm_2,
.fm_3 {
    flex: 1;
    color: #FFF;
}

.fm_1 {
    background-color:#39aae1;
}

.fm_2 {
    background-color:#0079c7;
}

.fm_3 {
    background-color:#2b4c99;
}

.footer_menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 20px;
}

.footer_area {
    display: flex;
}

.footer_areaitem {
    flex: 1;
    color: #929292;
}

.flexColumn {
    flex-direction: column;
}

footer .wt_text {
    color: #FFF;
}

.footer_copy {
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
    color: #5c5c5c;
    font-size: 11px;
    border-top: 1px solid #2c2c2c;
    text-align: center;
}

.footer_table {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-right: 20px;
}

.social_footer {
    display: flex;
    align-items: center;
}

.social_footer a {
    margin-right: 10px;
    margin-top: 20px;
}

.posts .banner_desc {
    margin-right: 15px;
    color: #dadada;
    margin-bottom: 5px;
}

.widget_body .banner_desc {
    margin-bottom: 5px;
}

.date_desc {
    font-size: 11px;
    color: #36a9e1;
}

.menuMobile {
    display: none;
    width: 35px;
    height: 40px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 20px;
}

.mm_line {
    height: 6px;
    background-color: #39aae1;
    border-radius: 5px;
}

@media (min-width: 711px) and (max-width: 915px) {
    header .container {
        align-items: center;
        padding-top: 20px;
     justify-content: center;
    }

    .logo {
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 20px;
    }     

    nav a {
        font-size: 12px;
    }

    .banner_headline{
        padding-bottom: 110px;
        padding-left: 20px;
        padding-top: 70px;
    }

    .banner_headline h1 {
        font-size: 50px;
    }

    .banner_headline p {
        font-size: 17px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    #banner {
        margin-bottom: 210px;
    }

    .container {
        flex-direction: column;
    }

    #geral section,
    #geral aside {
        padding: 20px;
    }

    #geral aside {
        padding-top: 0;
    }

    aside .box_depto {
        display: inline-flex;
        justify-content: flex-start;
    }

    .depto {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    footer {
        margin-top: 20px;
    }

    .footer_areaitem {
        margin-left: 20px;
        margin-right: 5px;
    }

    .widget_body .banner_desc {
        font-size: 10px;
        line-height: 15px;
    }

    .footer_table {
        font-size: 10px;
    }
}

@media (max-width: 710px) {

    header .container {
        flex-direction: row;
    }

    .logo {
        padding-left: 20px;
    }

    header {
        height: auto;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 60%;
        width: 40%;
        background-color: #FFF;
    }

    nav a {
        font-size: 12px;
    }


    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .banner_headline{
        padding-bottom: 110px;
        padding-left: 20px;
        padding-top: 70px;
    }

    .banner_headline h1 {
        font-size: 39px;
    }

    .banner_headline p {
        font-size: 12px;
        line-height: 21px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    #banner {
        margin-bottom: 210px;
    }

    .banner_title {
        font-size: 20px;
    }

    .banner_desc {
        font-size: 12px;
    }

    .container {
        flex-direction: column;
    }

    #geral section,
    #geral aside {
        padding: 20px;
    }

    .hour_table {
        font-size: 12px;
    }

    #geral aside {
        padding-top: 0;
    }

    aside .box_depto {
        display: inline-flex;
        justify-content: center;
    }

    .depto {
        width: 130px;
        height: 130px;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    aside .box_depto {
        line-height: 130px;
    }
    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
}